{{ define "head"}}
<link rel="stylesheet" href="/static/css/food-main.css">
<title>Enjoy from life!!!</title>
{{ end }}
{{ define "content" }}
<div class="introductory-container">
    <div class="introductory-texts-container">
        <div class="first-head-in-introductory-container">Briko Salad</div>
        <div class="second-head-in-introductory-container">My culinary journey from A to Z</div>
        <div class="third-head-in-introductory-container">Join me for daily reflections and delicious recipes</div>
        <a href="/receipt-add-page">Add OWN Receipt</a>
    </div>
    <img src="/static/images/main-food.png" alt="">
</div>
<div class="menu-main-container">
    {{ range . }}
        <div class="food-main-container">
            <img class="food-image" src="{{.Photo}}" alt="">
            <div class="food-additional-info-container">
                <div class="food-title-container">{{.Name}}</div>
                <div class="food-description-container">{{.Instruction}}</div>  
                <div class="food-created-date-container">{{.CreatedAt}}</div>  
            </div>
        </div>
    {{ end }}

</div>
{{ end }}