{{ define "head"}}
<title>Add New Task</title>
<script>
    number = 0
    function addNewIngredientForm(evt){
        mainDiv = document.getElementById("ingredients-container")
        mainDiv.innerHTML += `<div>
    <input type="text" name="ingredient-name-` + number + `" required>
    <input type="number" name="ingredient-amount-` + number + `" value="0" required>
    <select name="ingredient-unit-` + number + `" id="" required>
        <option value="gram">gram</option>
        <option value="kilogram">kilogram</option>
        <option value="mililiter">mililiter</option>
        <option value="liters">liter</option>
        <option value="pieces">pieces</option>
    </select>
</div>`
        number++  
        document.getElementById("ingredient-number").value = number+""

    }
</script>
{{ end }}
{{ define "content" }}
<div>
    <form action="/receipt-add" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="" required>
        <textarea name="instruction" id="" rows="5" cols="100"></textarea>
        <input type="number" name="duration" min="0" value="0" required>
        <input type="file" name="photo" id="" accept=".jpg, .png" required>
        <input type="number" value="0" name="ingredient-number" id="ingredient-number" hidden>
        <div id="ingredients-container"></div>
        <div onclick="addNewIngredientForm(this.event)">Add Ingredient</div >
        <button type="submit">Add</button>
    </form>
</div>

{{ end }}