{{ define "navbar" }}
  <header>
    <div class="header">
      <a href="/">
        <div class="logo-container">
          <img src="/static/images/crown.png" alt="">
          <div class="logo-text">Tasking</div>
        </div>
      </a>
      <div class="header-menu-container">
        <a href="/">Home</a>
        <a href="/receipts-main-page">Receipts</a>
        <a href="">Member</a>
        <a href="">About</a>
      </div>
      <div class="account-container">
        <a class="sign-up" href="/profile-tasks">Profile</a>
        <a class="sign-in" href="/logout">Log out</a>
      </div>
    </div>
  </header>
{{ end }}