{{ define "navbar" }}
<header>
  <div class="header">
    <a href="/">
      <div class="logo-container">
        <img src="/static/images/crown.png" alt="">
        <div class="logo-text">Tamaq</div>
      </div>
    </a>
    <div class="header-menu-container">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Member</a>
      <a href="">Enterprise</a>
    </div>
    <div class="account-container">
      <a class="sign-up" href="/sign-up">Sign up</a>
      <a class="sign-in" href="/sign-in">Sign in</a>
    </div>
  </div>
</header>
{{ end }}